/* CUSTOM-PROPS */
:root{
    --text-color:#333;
    --button-bg-color:#0A775F;
    --outline-color:var(--button-bg-color);
}

/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/2") format("woff2"),
    url("../fonts/") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


*:focus{
    outline: 2px dashed var(--button-bg-color) ;
    outline-offset: 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:"Roboto","Arial", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}


/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
}

.site-header-hero-wrapper{
    background-image: url(../img/sitenav-top-bg-img.jpg);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    .site-header-hero-wrapper{
        background-image: url(../img/sitenav-top-bg-img@2x.jpg);
    }

}

/* SITE-HEADER */

.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.site-header-logo-link {
    display: flex;
    text-decoration: none;
    flex-shrink: 0;
}
.site-header-logo-link:hover{
    opacity: 0.8;
}
.site-header-logo-link:active{
    opacity: 0.6;
}
.site-header-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}

/* SITENAV */
.sitenav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitenav-item:not(:last-child) {
    margin-right: 40px;

}
.sitenav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    margin-top: 0;
    padding-top: 0;
    color: var(--text-color);
    transition: border-bottom 0.3s ease;
    white-space: nowrap;
}

.sitenav-link:hover{
    color: var(--button-bg-color);
    border-bottom: 2px solid #0A775F;  
}

.sitenav-link:active{
    opacity: 0.6;
}
